{% extends "@MorgenbordCore/base.html.twig" %}

{% block body %}
<div id="board" class="container mx-auto grid xs:grid-cols-1 gap-4 mt-6">
  <fieldset class="fieldset w-xs bg-base-100 border border-base-300 p-4 rounded-box mx-auto">
    <legend class="fieldset-legend">Édition d’un widget {{ userWidget.name }}</legend>
      {{ form_start(form) }}
      {{ form_widget(form) }}
      <button class="btn btn-primary">Modifier</button>
      
      {{ form_end(form) }}
  </fieldset>
</div>
{% endblock %}